# Database Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/medical-dapp

# Server
PORT=8080

# Auth
ACCESS_TOKEN_SECRET=your_secret_key_here

# CORS
CLIENT_URL=http://localhost:3000
